<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <div id="description">
        <h1>kitbucket (alpha)</h1>
        <p>Это веб-приложение, построенное на веб-фреймворке Flask на Python, позволяющее просматривать репозитории
            kitbucket.ru.</p>
        <hr />
    </div>
    <div id="goto">
        <p>Перейти к просмотру:&nbsp;</p>
        <form action="{{ url_for('browse') }}">
            <button type="submit">Репозитории</button>
        </form>
    </div>
</body>